@import '../../../../../styles/settings/conf';

.star {
    display: flex;
    align-items: center;
    margin-bottom: $space;

    input[type=checkbox] {
        margin-right: 8px;
    }

    svg {
        width: 12px;
        margin-right: 3px;

        g {
            fill: $star;
        }
    }

    strong {
        font-size: 11px;
    }
}
