@import '../../../../styles/settings/conf';
@import '../../../../styles/settings/mesaures';

.hotel > div {
    @media #{$gt--small} {
        display: flex;
    }
}

.image,
.summary,
.price {
    margin-bottom: $half--space;

    @media #{$gt--small} {
        margin-bottom: 0;
    }
}

.image {
    width: 100%;
}

.summary {

    h1 {
        font-size: 15px;
        color: $title;
        margin-top: 0;
        margin-bottom: $quarter--space;
    }
    
    .stars {
        margin-bottom: $half--space;
    
        svg {
            width: 16px;
            margin-right: $quarter--space;

            g {
                fill: $star;
            }
        }
    }
    
    .amenity {
        img {
            width: 24px;
            margin-right: $quarter--space;
        }
    }
}

.price {
    padding-left: 30px !important;
    
    .container {
        border-top: 1px $border--dashed dashed;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: $space 0 $double--space 0;

        @media #{$gt--small} {
            border-top: none;
            border-left: 1px $border--dashed dashed;
            padding: 0 $space 0 $double--space;
        }
    }

    h1 {
        font-size: 20px;
        font-weight: $weight--normal;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $price;

        b {
            margin-left: $quarter--space;
            font-size: 34px;
        }
    }
    
    p {
        margin-top: 0;
        margin-bottom: $space;
        font-size: 12px;
        color: $icons;
        text-align: center;
        font-weight: $weight--thin;
    }

    button {
        max-width: 180px;
    }
}
